<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<!-- amqp or amqps for TLS/SSL -->
		<add key="connection" value="amqp://artemis:simetraehcapa@localhost:61616" />
		<!-- durable queue, anycast address -->
		<add key="address" value="test.queue" />

		<!-- topic, multicast address -->
		<!--<add key="address" value="test.topic" />-->

		<!-- durable subscription, queue -->
		<!-- https://activemq.apache.org/components/artemis/documentation/latest/address-model.html#fully-qualified-queue-names -->
		<!--<add key="address" value="test.topic::test.topic1" />-->
		
	</appSettings>
</configuration>